<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    -->
    <title>홈 화면</title>
    
    <link rel="stylesheet" href="../public/css/common.css">	
</head>